<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Typography</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title">卡券管理</h4>

<div class="block-area" id="tableStriped">
    <div>
        <h3 class="block-title">卡券列表</h3>
        <button type="button" data-remote="/card/card-add.html" data-toggle="modal" data-backdrop="static"
                data-target="#card" style="float: right" class="btn btn-default">添加卡券
        </button>
    </div>
    <div class="table-responsive overflow">
        <table class="tile table table-bordered table-striped">
            <thead>
            <tr>
                <th>编号</th>
                <th>卡券ID</th>
                <th>ticket</th>
                <th>url</th>
                <th>一/二维码展示地址</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="card-list">
            </tbody>
        </table>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%">
        <div class="modal-content" style="width: 50%;margin: auto"/>
    </div><!-- /.modal -->
</div>
<script src="/js/weixin/card.js"></script>

