<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Typography</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title">素材</h4>

<div class="block-area" id="tableStriped">
    <div>
    <h3 class="block-title">素材列表</h3>
        <button type="button" data-remote="/material/material-add.html" data-toggle="modal" data-backdrop="static"
                data-target="#material" style="float: right" class="btn btn-default">添加素材
        </button>
    </div>
    <div class="table-responsive overflow">
        <table class="tile table table-bordered table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Jhon </td>
                <td>Makinton </td>
                <td>@makinton</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Malinda</td>
                <td>Hollaway</td>
                <td>@hollway</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Wayn</td>
                <td>Parnel</td>
                <td>@wayne123</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TB - Monthly</td>
                <td>05/04/2012</td>
                <td>Call in to confirm</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TB - Monthly</td>
                <td>06/04/2012</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>6</td>
                <td>TB - Monthly</td>
                <td>07/04/2012</td>
                <td>Call in to confirm</td>
            </tr>
            <tr>
                <td>7</td>
                <td>TB - Monthly</td>
                <td>08/04/2012</td>
                <td>Call in to confirm</td>
            </tr>
            <tr>
                <td>8</td>
                <td>TB - Monthly</td>
                <td>09/04/2012</td>
                <td>Call in to confirm</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="material" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%">
        <div class="modal-content" style="width: 50%;margin: auto"/>
    </div><!-- /.modal -->
</div>
<script src="/js/weixin/material.js"></script>

