<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title">管理主页</h4>
<hr class="whiter"/>

<!--卡券的核销-->
<form role="form" id="code-check-consume">
    <div class="form-group">
        <label for="code" class="col-sm-2 control-label">卡券的code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="code" id="code" placeholder="请输入卡券的code"/>
        </div>
    </div>
    <!--核销code前查询code-->
    <div class="form-group">
        <label for="check_consume" class="col-sm-2 control-label">消费前检查</label>
        <div class="col-sm-10">
            <select class="form-control" id="check_consume" name="check_consume">
                <option value=""></option>
                <option value="true">检查</option>
                <option value="false">不检查</option>
            </select>
        </div>
    </div>
    <button class="btn btn-default">提交</button>
</form>
<hr class="whiter"/>
<script type="text/javascript">
        $('#code-check-consume').submit(function () {
            var options = {
                // 规定把请求发送到那个URL
                url: "card/code/consume",
                // 请求方式
                type: "post",
                // 请求成功时执行的回调函数
                success: function(data) {
                    // 图片显示地址
                    if(data.status==200){
                        alert("卡券["+data.data.title+"]消费成功！！")
                    }else{
                        alert("卡券消费失败信息\n"+data.msg)
                    }
                }
            };
            $("#code-check-consume").ajaxSubmit(options);
            $("#code-check-consume").resetForm();
            return false
        });

</script>
<h4 class="page-title">主页菜单</h4>
<hr class="whiter"/>
<form role="form" id="index-menu">
    <!--菜单1-->
    <div class="form-group">
        <label for="menu1.name" class="col-sm-2 control-label">菜单名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="menu1.name" id="menu1.name" placeholder="请输入菜单名称"/>
        </div>
    </div>
    <!--是否有子菜单-->
    <div class="form-group">
        <label for="menu1.hassub" class="col-sm-2 control-label">是否有子菜单</label>
        <div class="col-sm-10">
            <select class="form-control hassub" id="menu1.hassub" name="menu1.hassub">
                <option value=""></option>
                <option value="true">有</option>
                <option value="false">没有</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="menu1.list[0].name" class="col-sm-2 control-label">菜单名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="menu1.list[0].name" id="menu1.list[0].name" placeholder="请输入菜单名称"/>
        </div>
    </div>
    <div class="form-group">
        <label for="menu1.list[0].type" class="col-sm-2 control-label">菜单事件</label>
        <div class="col-sm-10">
            <select class="form-control" id="menu1.list[0].type" name="menu1.list[0].type">
                <option value=""></option>
                <option value="click">点击推送事件</option>
                <option value="view">跳转URL事件</option>
                <option value="scancode_push">扫码推事件</option>
                <option value="scancode_waitmsg">扫码推事件且弹出“消息接收中”提示框</option>
                <option value="pic_sysphoto">弹出系统拍照发图</option>
                <option value="pic_photo_or_album">弹出系统拍照和照片发图</option>
                <option value="pic_weixin">弹出微信相册发图器</option>
                <option value="location_select">弹出地理位置选择器</option>
                <option value="media_id">下发消息</option>
                <option value="view_limited">跳转图文消息UR</option>
                <option value="miniprogram">小程序</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="menu1.list[0].url" class="col-sm-2 control-label">菜单内容</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="menu1.list[0].url" id="menu1.list[0].url" placeholder="请输入菜单点击内容"/>
        </div>
    </div>


    <button class="btn btn-default">提交</button>
</form>

<script type="text/javascript">
    $('.hassub').change(function () {
        var hassub = $(this).val();
        var menu = $(this).attr('name').split('\.')[0];
        if(hassub=='false'){
            $(this).parent('div').parent('div').eq(0).after('<!--菜单事件-->\n' +
                '    <div class="form-group">\n' +
                '        <label for="menu1.type" class="col-sm-2 control-label">菜单事件</label>\n' +
                '        <div class="col-sm-10">\n' +
                '            <select class="form-control" id="menu1.type" name="menu1.type">\n' +
                '                <option value=""></option>\n' +
                '                <option value="click">点击推送事件</option>\n' +
                '                <option value="view">跳转URL事件</option>\n' +
                '                <option value="scancode_push">扫码推事件</option>\n' +
                '                <option value="scancode_waitmsg">扫码推事件且弹出“消息接收中”提示框</option>\n' +
                '                <option value="pic_sysphoto">弹出系统拍照发图</option>\n' +
                '                <option value="pic_photo_or_album">弹出系统拍照和照片发图</option>\n' +
                '                <option value="pic_weixin">弹出微信相册发图器</option>\n' +
                '                <option value="location_select">弹出地理位置选择器</option>\n' +
                '                <option value="media_id">下发消息</option>\n' +
                '                <option value="view_limited">跳转图文消息UR</option>\n' +
                '                <option value="miniprogram">小程序</option>\n' +
                '            </select>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="form-group">\n' +
                '        <label for="menu1.url" class="col-sm-2 control-label">菜单内容</label>\n' +
                '        <div class="col-sm-10">\n' +
                '            <input type="text" class="form-control" name="menu1.url" id="menu1.url" placeholder="请输入菜单点击内容"/>\n' +
                '        </div>\n' +
                '    </div>')
        }else if(hassub=='true'){
            $(this).parent('div').parent('div').eq(0).after(generate_subMenu(menu,0))
        }
    });

    function generate_subMenu(menu,i){
        return '<div class="form-group">\n' +
            '        <label for="'+menu+'.list['+i+'].name" class="col-sm-2 control-label">菜单名称</label>\n' +
            '        <div class="col-sm-10">\n' +
            '            <input type="text" class="form-control" name="'+menu+'.list['+i+'].name" id="'+menu+'.list['+i+'].name" placeholder="请输入菜单名称"/>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label for="'+menu+'.list['+i+'].type" class="col-sm-2 control-label">菜单事件</label>\n' +
            '        <div class="col-sm-10">\n' +
            '            <select class="form-control" id="'+menu+'.list['+i+'].type" name="'+menu+'.list['+i+'].type">\n' +
            '                <option value=""></option>\n' +
            '                <option value="click">点击推送事件</option>\n' +
            '                <option value="view">跳转URL事件</option>\n' +
            '                <option value="scancode_push">扫码推事件</option>\n' +
            '                <option value="scancode_waitmsg">扫码推事件且弹出“消息接收中”提示框</option>\n' +
            '                <option value="pic_sysphoto">弹出系统拍照发图</option>\n' +
            '                <option value="pic_photo_or_album">弹出系统拍照和照片发图</option>\n' +
            '                <option value="pic_weixin">弹出微信相册发图器</option>\n' +
            '                <option value="location_select">弹出地理位置选择器</option>\n' +
            '                <option value="media_id">下发消息</option>\n' +
            '                <option value="view_limited">跳转图文消息UR</option>\n' +
            '                <option value="miniprogram">小程序</option>\n' +
            '            </select>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label for="'+menu+'.list['+i+'].url" class="col-sm-2 control-label">菜单内容</label>\n' +
            '        <div class="col-sm-10">\n' +
            '            <input type="text" class="form-control" name="'+menu+'.list['+i+'].url" id="'+menu+'.list['+i+'].url" placeholder="请输入菜单点击内容"/>\n' +
            '        </div>\n' +
            '    </div>'
    }
</script>